<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<!--enable NLog.Web for ASP.NET Core-->
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target name="console" xsi:type="Console" />
		<target name="file" xsi:type="File" fileName="${basedir}/log.txt" />
		<target name="time_log" xsi:type="File" fileName="${basedir}/request_time_log.txt" />
	</targets>


	<rules>
		<!--<logger name="*" levels="Info,Error,Debug,Warn,Trace,Fail" writeTo="console" />-->
		<!--<<logger name="*" levels="Info,Error" writeTo="console" />-->
		<!--<<logger name="*" levels="Info,Warn,Debug,Error,Fail" writeTo="file" />-->
		<logger name="DemoRESTWebApi.*" minlevel="Warn" writeTo="file" />
		<!--path given as a name restricts logged events to class-->
		<logger name="DemoRESTWebApi.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="time_log" />
		<!-- <logger name="*" levels="Error" writeTo="email" /> -->
    </rules>
</nlog>